src/main/resources/ach.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.swbc.com/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.swbc.com/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.swbc.com/">
            <s:import namespace="http://microsoft.com/wsdl/types/"/>
            <s:element name="PostSinglePayment">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ABA" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxDesc" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostSinglePaymentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PostSinglePaymentResult" type="tns:ACHTransResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ACHTransResponse">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ResponseMessage" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="ResponseStringRaw" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="SWBCAuthHeader" type="tns:SWBCAuthHeader"/>
            <s:complexType name="SWBCAuthHeader">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
                </s:sequence>
                <s:anyAttribute/>
            </s:complexType>
            <s:element name="PostSinglePaymentWithApplyTo">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ABA" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxDesc" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ApplyToName" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ApplyToAccountType" type="s1:char"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostSinglePaymentWithApplyToResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PostSinglePaymentWithApplyToResult" type="tns:ACHTransResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostSinglePaymentWithPayToABANumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ABA" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxDesc" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CustomerID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="NoticeLanguage" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailSendTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EmailBlindCopyTo" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterAddress2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterCity" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterState" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="LetterZip" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="PayToABANumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostSinglePaymentWithPayToABANumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PostSinglePaymentWithPayToABANumberResult" type="tns:ACHTransResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostRecurringPayment">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="ConvenienceFee" type="s:double"/>
                        <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TransType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="ABA" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TrxCode" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IndividualName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="OriginType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="EntityID" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="RecurrType" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="RecurrValue1" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="RecurrValue2" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="RecurrValue3" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="NumOccurrences" type="s:int"/>
                        <s:element minOccurs="0" maxOccurs="1" name="RunBeforeDay" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
                        <s:element minOccurs="1" maxOccurs="1" name="FinalAmount" type="s:double"/>
                        <s:element minOccurs="0" maxOccurs="1" name="TransDescription" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="IndividualIDNumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="PostRecurringPaymentResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="PostRecurringPaymentResult" type="tns:ACHTransResponse"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ValidateABANumber">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ABANumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ValidateABANumberResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="ValidateABANumberResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetABACompletionList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ABAPart" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="AmountToReturn" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetABACompletionListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetABACompletionListResult" type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetStatusUpdate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TrackingNumber" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetStatusUpdateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetStatusUpdateResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetStatusUpdateForList">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="TrackingNumberList" type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetStatusUpdateForListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetStatusUpdateForListResult" type="tns:ArrayOfString"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TestF5Function">
                <s:complexType/>
            </s:element>
            <s:element name="TestF5FunctionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="TestF5FunctionResult" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
        <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
            <s:simpleType name="char">
                <s:restriction base="s:unsignedShort"/>
            </s:simpleType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="PostSinglePaymentSoapIn">
        <wsdl:part name="parameters" element="tns:PostSinglePayment"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentSoapOut">
        <wsdl:part name="parameters" element="tns:PostSinglePaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentSWBCAuthHeader">
        <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithApplyToSoapIn">
        <wsdl:part name="parameters" element="tns:PostSinglePaymentWithApplyTo"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithApplyToSoapOut">
        <wsdl:part name="parameters" element="tns:PostSinglePaymentWithApplyToResponse"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithApplyToSWBCAuthHeader">
        <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithPayToABANumberSoapIn">
        <wsdl:part name="parameters" element="tns:PostSinglePaymentWithPayToABANumber"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithPayToABANumberSoapOut">
        <wsdl:part name="parameters" element="tns:PostSinglePaymentWithPayToABANumberResponse"/>
    </wsdl:message>
    <wsdl:message name="PostSinglePaymentWithPayToABANumberSWBCAuthHeader">
        <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader"/>
    </wsdl:message>
    <wsdl:message name="PostRecurringPaymentSoapIn">
        <wsdl:part name="parameters" element="tns:PostRecurringPayment"/>
    </wsdl:message>
    <wsdl:message name="PostRecurringPaymentSoapOut">
        <wsdl:part name="parameters" element="tns:PostRecurringPaymentResponse"/>
    </wsdl:message>
    <wsdl:message name="PostRecurringPaymentSWBCAuthHeader">
        <wsdl:part name="SWBCAuthHeader" element="tns:SWBCAuthHeader"/>
    </wsdl:message>
    <wsdl:message name="ValidateABANumberSoapIn">
        <wsdl:part name="parameters" element="tns:ValidateABANumber"/>
    </wsdl:message>
    <wsdl:message name="ValidateABANumberSoapOut">
        <wsdl:part name="parameters" element="tns:ValidateABANumberResponse"/>
    </wsdl:message>
    <wsdl:message name="GetABACompletionListSoapIn">
        <wsdl:part name="parameters" element="tns:GetABACompletionList"/>
    </wsdl:message>
    <wsdl:message name="GetABACompletionListSoapOut">
        <wsdl:part name="parameters" element="tns:GetABACompletionListResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStatusUpdateSoapIn">
        <wsdl:part name="parameters" element="tns:GetStatusUpdate"/>
    </wsdl:message>
    <wsdl:message name="GetStatusUpdateSoapOut">
        <wsdl:part name="parameters" element="tns:GetStatusUpdateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetStatusUpdateForListSoapIn">
        <wsdl:part name="parameters" element="tns:GetStatusUpdateForList"/>
    </wsdl:message>
    <wsdl:message name="GetStatusUpdateForListSoapOut">
        <wsdl:part name="parameters" element="tns:GetStatusUpdateForListResponse"/>
    </wsdl:message>
    <wsdl:message name="TestF5FunctionSoapIn">
        <wsdl:part name="parameters" element="tns:TestF5Function"/>
    </wsdl:message>
    <wsdl:message name="TestF5FunctionSoapOut">
        <wsdl:part name="parameters" element="tns:TestF5FunctionResponse"/>
    </wsdl:message>
    <wsdl:portType name="ACHTransactionSoap">
        <wsdl:operation name="PostSinglePayment">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Post a Single ACH transaction. Returns ACHTransResponse Class
            </wsdl:documentation>
            <wsdl:input name="PostSinglePaymentIn" message="tns:PostSinglePaymentSoapIn"/>
            <wsdl:output name="PostSinglePaymentOut" message="tns:PostSinglePaymentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PostSinglePaymentWithApplyTo">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Post a Single ACH transaction with apply to info. Returns ACHTransResponse Class
            </wsdl:documentation>
            <wsdl:input name="PostSinglePaymentWithApplyToIn" message="tns:PostSinglePaymentWithApplyToSoapIn"/>
            <wsdl:output name="PostSinglePaymentWithApplyToOut" message="tns:PostSinglePaymentWithApplyToSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PostSinglePaymentWithPayToABANumber">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Post a Single ACH transaction with PayToABANumber. Returns ACHTransResponse Class
            </wsdl:documentation>
            <wsdl:input name="PostSinglePaymentWithPayToABANumberIn" message="tns:PostSinglePaymentWithPayToABANumberSoapIn"/>
            <wsdl:output name="PostSinglePaymentWithPayToABANumberOut" message="tns:PostSinglePaymentWithPayToABANumberSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="PostRecurringPayment">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Post a Recurring ACH transaction. Returns ACHTransResponse Class
            </wsdl:documentation>
            <wsdl:input message="tns:PostRecurringPaymentSoapIn"/>
            <wsdl:output message="tns:PostRecurringPaymentSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateABANumber">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Verify the ABA Routing Number. Returns Boolean Value.
            </wsdl:documentation>
            <wsdl:input message="tns:ValidateABANumberSoapIn"/>
            <wsdl:output message="tns:ValidateABANumberSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetABACompletionList">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Auto Complete ABA Number. Returns String Array.</wsdl:documentation>
            <wsdl:input message="tns:GetABACompletionListSoapIn"/>
            <wsdl:output message="tns:GetABACompletionListSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetStatusUpdate">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the status of a Transaction. Returns String.</wsdl:documentation>
            <wsdl:input message="tns:GetStatusUpdateSoapIn"/>
            <wsdl:output message="tns:GetStatusUpdateSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="GetStatusUpdateForList">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                Get the status of a list of Transactions. Returns String Array.
            </wsdl:documentation>
            <wsdl:input message="tns:GetStatusUpdateForListSoapIn"/>
            <wsdl:output message="tns:GetStatusUpdateForListSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="TestF5Function">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Dummy Function. Testing Only</wsdl:documentation>
            <wsdl:input message="tns:TestF5FunctionSoapIn"/>
            <wsdl:output message="tns:TestF5FunctionSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ACHTransactionSoap" type="tns:ACHTransactionSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PostSinglePayment">
            <soap:operation soapAction="http://www.swbc.com/PostSinglePayment" style="document"/>
            <wsdl:input name="PostSinglePaymentIn">
                <soap:body use="literal"/>
                <soap:header message="tns:PostSinglePaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output name="PostSinglePaymentOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PostSinglePaymentWithApplyTo">
            <soap:operation soapAction="http://www.swbc.com/PostSinglePaymentWithApplyTo" style="document"/>
            <wsdl:input name="PostSinglePaymentWithApplyToIn">
                <soap:body use="literal"/>
                <soap:header message="tns:PostSinglePaymentWithApplyToSWBCAuthHeader" part="SWBCAuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output name="PostSinglePaymentWithApplyToOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PostSinglePaymentWithPayToABANumber">
            <soap:operation soapAction="http://www.swbc.com/PostSinglePaymentWithPayToABANumber" style="document"/>
            <wsdl:input name="PostSinglePaymentWithPayToABANumberIn">
                <soap:body use="literal"/>
                <soap:header message="tns:PostSinglePaymentWithPayToABANumberSWBCAuthHeader" part="SWBCAuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output name="PostSinglePaymentWithPayToABANumberOut">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PostRecurringPayment">
            <soap:operation soapAction="http://www.swbc.com/PostRecurringPayment" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:PostRecurringPaymentSWBCAuthHeader" part="SWBCAuthHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ValidateABANumber">
            <soap:operation soapAction="http://www.swbc.com/ValidateABANumber" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetABACompletionList">
            <soap:operation soapAction="http://www.swbc.com/GetABACompletionList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStatusUpdate">
            <soap:operation soapAction="http://www.swbc.com/GetStatusUpdate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetStatusUpdateForList">
            <soap:operation soapAction="http://www.swbc.com/GetStatusUpdateForList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TestF5Function">
            <soap:operation soapAction="http://www.swbc.com/TestF5Function" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ACHTransaction">
        <wsdl:port name="ACHTransactionSoap" binding="tns:ACHTransactionSoap">
            <soap:address location="https://b-ecm.swbc.com/paymentprocessorv3/ach.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>